# Project 5: US College COVID-19 Analysis

##### Aziz Maredia, Katharine King, Manuel Sainz de la Pe√±a, Max Bosse | DSIR-1019 | 12.23.20

## Problem Statement

## Data Sets & Dictionary

* [`nyt_college.csv`](./datasets/nyt_college.csv): Colleges and counts of Coronavirus case counts, [NYT Repository](https://github.com/nytimes/covid-19-data/tree/master/colleges)
* [`admissions1.csv`](./datasets/admissions1.csv): Data pulled from IPED's database, part 1, [IPED Database](https://nces.ed.gov/ipeds/)
* [`admissions2.csv`](./datasets/admissions2.csv): Data pulled from IPED's database, part 2, [IPED Database](https://nces.ed.gov/ipeds/)
* [`sports.csv`](./datasets/sports.csv): Data pulled from IPED's database, part 3, [IPED Database](https://nces.ed.gov/ipeds/)
* [`regions.csv`](./datasets/regions.csv): State region and sports division
* [`state_policies.csv`](./datasets/state_policies.csv): State Social Distancing and other Coronavirus policies as of August 11th, [Kaiser Family Foundation](https://github.com/KFFData/COVID-19-Data/tree/kff_master/State%20Policy%20Actions/State%20Social%20Distancing%20Actions)
* [`classplan.csv`]('./datasets/classplan.csv'): Dataset of colleges and their intended plan for the Fall of 2020 [The Chronicle of Higher Education](https://www.chronicle.com/article/heres-a-list-of-colleges-plans-for-reopening-in-the-fall/)
* [`combined_df.csv`]('./datasets/combined_df.csv): Merged Dataframe created in [intro_data_merging_cleaning]('./code/intro_data_merging_cleaning.ipnyb')

Target Column: Predict a University's classification into **greater_than_5**, which indicates whether a college has case counts that exceed 5% of the total enrolled population

## Dataframe Merging & Cleaning

#### Loading in NYT college covid data

In [1]:
import pandas as pd

data = pd.read_csv('./datasets/nyt_college.csv')
data.head()

,date,state,county,city,ipeds_id,college,cases,notes
0,2020-12-11,Texas,Taylor,Abilene,222178.0,Abilene Christian University,553.0,NaN
1,2020-12-11,Georgia,Tift,Tifton,138558.0,Abraham Baldwin Agricultural College,165.0,NaN
2,2020-12-11,California,San Francisco,San Francisco,108232.0,Academy of Art University,NaN,NaN
3,2020-12-11,Colorado,Alamosa,Alamosa,126182.0,Adams State University,108.0,NaN
4,2020-12-11,New York,Nassau,Garden City,188429.0,Adelphi University,60.0,NaN

#### Checking for null values and dropping row w/ with null 'ipeds_id'

In [2]:
data.isnull().sum()

date           0
state          0
county         3
city           0
ipeds_id       1
college        0
cases         70
notes       1916
dtype: int64

In [3]:
data.dropna(subset = ['ipeds_id'], inplace = True)
data.reset_index(inplace = True)

#### Dropping columns unnecessary for analysis

In [5]:
data.drop(columns = ['index', 'date', 'county', 'city', 'notes'], inplace = True)

#### Building function to create string of all 'ipeds_ids' separtated by commas 

#### This string will be used to easily search for an pull college admissions statistics from https://nces.ed.gov/ipeds/use-the-data

In [6]:
data['ids'] = [str(n) for n in data['ipeds_id'].astype(int)]

def get_commaed_list(column, max_length):
    
    number_of_lists = int(len(column)/max_length)+1
    start = 0
    
    for i in range(1,number_of_lists):
        print(f'list{i}')
        string = ''
        
        for n in range(start,(max_length*(i))):
            string = string + (str(column[n]) + ',')
        print(string)
        start = start + max_length
    
    for i in range(number_of_lists, number_of_lists+1):   
        print(f'list{i}')
        string = ''
        for n in range((max_length*(number_of_lists-1)),len(column)):
            string = string + (str(column[n]) + ',')
        print(string,)
    
    return

In [7]:
get_commaed_list(data['ids'], 400)

list1
222178,138558,108232,126182,188429,188438,168528,133872,138600,200697,100654,100724,188526,188580,138716,385415,128498,168546,210571,175342,237118,172918,188641,156189,210669,154642,168591,168607,210775,238193,447883,164447,240736,131159,164465,150066,217633,168740,222831,164492,172954,172963,109350,245865,197869,168786,126289,211088,104151,104160,107327,106458,440402,106467,404994,156222,156213,156231,201104,164562,100812,138901,132374,485768,100858,100830,173045,482149,143084,219000,143118,222983,222992,219602,446048,451149,451158,231420,457411,109785,164580,154688,109819,201195,150136,189015,189088,189097,132471,197911,160977,437103,168883,380359,164632,223232,164720,247065,175421,156286,234669,234696,197984,219709,238333,173124,137591,217721,154712,145619,230816,164739,156295,183789,189228,139144,154721,237181,173142,154749,173160,219718,132602,102429,137856,157553,110097,100937,200022,219046,106625,143288,223427,183822,211158,231554,237215,156392,201371,217749,142115,189413,158431,164924,164988,161004,162007,201441,201432,143358,165015,223506,139199,156356,198066,231581,165024,230038,230047,142522,132709,217156,18956501,188517,18958301,189583,189592,18959201,18958302,189565,217165,210492,211273,211291,153001,154800,150163,211352,215114,183910,101514,110361,110404,110413,110422,110529,111188,110486,441937,110538,110547,110574,110565,110583,110592,409698,110608,110617,110510,366711,110495,211361,169080,206914,198136,156365,189705,201548,173258,211440,433174,180106,238458,219806,238476,439190,201645,240505,230834,198215,131283,189839,189848,211468,201654,158477,183974,100760,106713,154855,153108,128771,173203,17320301,158088,176947,169248,201690,234827,234845,156408,175315,180948,141486,230852,111948,217688,132976,211556,219824,211583,211608,144005,133021,198303,219833,231712,406547,217873,112260,211644,138947,234933,201973,165334,153126,211024,190044,19004401,139311,156417,169327,217882,219879,202134,190053,234951,218724,153144,217907,161086,182634,241720,190099,132851,217819,139250,142294,193399,167394,174747,186618,142559,182005,166124,376695,178697,247834,126669,126678,127556,126711,126775,126818,128106,234979,144281,219888,190150,190169,202170,139366,210605,126863,126942,230861,237330,133854,173300,190248,169363,144351,112075,224004,238616,180984,173328,128902,241766,217961,162283,153162,190415,170037,438285,106795,139393,181002,177135,174862,190503,219949,190512,190521,190530,190549,190567,190558,475565,190585,190594,190600,190619,190628,190637,190646,190655,190664,190673,190682,190691,165529,202356,113236,190716,190725,200314,173416,219082,224226,139463,231882,182670,169479,198385,237358,194569,180151,133386,165574,202514,130934,130907,13090701,13090702,211981,158662,175616,202523,144740,150400,210739,482413,212009,200059,158802,105297,230171,181020,154998,
list2
190761,148496,113698,153250,153269,184348,212054,177214,198419,212106,198455,190840,220057,150455,198464,207041,139621,212115,220075,224527,129215,132693,144892,153311,156620,232043,169798,165644,187648,208646,212133,231970,235097,240596,133492,238661,212160,235103,133526,113980,488305,198507,212197,156648,153296,144962,190974,190983,198516,490346,133553,104586,165662,139630,165671,232025,139658,155025,165699,101143,191083,217998,369419,241951,144971,177339,235149,385619,235167,196680,129242,184603,184694,237367,196042,191126,198543,114433,184612,169910,232089,191199,475422,172440,137023,165820,191205,133711,461245,180197,160481,155052,133650,133669,487427,133809,135160,433660,476814,133881,133951,133979,408844,482936,134079,133508,133702,134097,134112,380368,177418,114716,191241,155061,127185,135267,139719,445744,165866,218061,160074,205957,212577,150604,182795,441982,459329,114813,110556,127200,156727,162584,134237,191302,218070,101240,490090,491181,156471,131450,224961,212601,198561,157438,191339,212656,208822,232186,134291,131469,156745,131496,139861,447689,139700,139755,485111,139931,139764,139940,184773,212674,494551,169974,237385,230889,130989,235316,165936,139968,150668,162654,145336,150677,153366,15336601,159009,104717,170055,170082,153375,183257,235334,225070,182306,183150,180249,170091,235343,198598,218113,145372,153384,212805,198613,134343,173647,490559,212832,191515,173665,232256,166018,232265,150756,225247,107044,177551,191533,166027,115409,155140,181127,212911,141644,153445,156790,490054,49005401,166045,203067,203085,180276,191597,156851,107071,107080,173708,170240,191612,155177,173735,198695,235431,191621,225371,134495,170286,203128,191630,191649,232308,212984,115728,162760,170301,156860,191676,225399,225548,131520,191719,115755,101435,487524,155195,193405,142276,434584,145691,145725,145813,145646,213011,457387,134608,151324,151351,151388,151333,151360,213020,151342,151379,151111,187745,173799,191931,153603,153621,173805,191968,150987,170444,220400,175856,101480,134945,232423,192004,191986,156921,192022,107141,203368,162928,217235,445708,439288,414823,198756,155210,213251,170532,177746,155399,155414,141796,146366,185262,183062,13508113,13508108,13508104,13508101,13508107,13508102,13508112,13508116,13508103,13508111,486840,203517,203447,203456,203492,203465,203474,203483,203526,157100,157058,157076,203535,169983,192192,213303,220516,213321,146427,213349,171881,213358,213367,155450,213385,140234,203580,146481,146506,170620,200192,173461,170639,135179,235699,135188,238980,183123,127389,226091,213400,218229,247649,220598,209038,207209,226134,166391,170675,239017,192323,213507,220613,198808,141811,213543,220604,198835,166452,226231,209056,146612,142328,450632,157207,232557,218238,220631,213598,177940,177968,135294,157216,209065,437316,219976,180328,135276,198862,
list3
213613,192509,192448,232566,203748,135337,153825,133155,159568,483212,159391,159382,159373,435000,159407,159416,159647,203757,235750,117946,146719,163046,159656,226383,101602,153834,213668,132657,106342,173902,238263,157304,170806,182917,161299,203775,151777,192703,192749,213783,239071,192785,151786,239080,203845,101648,419226,192819,239105,198899,237525,153922,173452,232672,192864,232706,220710,178059,213826,166674,167288,166656,166683,166692,157331,200226,164270,147013,226578,226587,159717,192925,218335,484066,118693,140447,193016,213987,198950,244279,166850,173993,17399301,213996,198969,190114,174020,127565,135717,134811,204024,171100,171128,171155,482158,220978,230959,226806,181330,157377,226833,143853,423643,193201,461014,101675,180373,214041,486901,147244,118888,175980,239318,174136,175263,173559,174358,173920,173638,200253,118912,214069,176053,176008,176080,176035,176044,178244,178341,179566,178411,178387,129774,118976,105206,193283,193292,147341,185572,193308,193326,262165,180461,180179,180522,180416,185590,199032,147369,214157,157386,140553,127617,163453,154004,221096,169275,214166,166939,219198,239390,204200,193353,163462,214175,157401,204264,183141,221184,193478,106980,187596,119678,193584,181446,214272,441900,262129,182980,185129,185828,187897,187967,187912,188030,159948,440262,193751,418126,194073,439783,194091,193821,193830,194116,193900,218414,155335,183099,193946,193973,159966,167260,232937,174428,107460,199102,199157,199193,199209,147660,204422,174437,200305,200332,136145,218441,174376,142443,147679,236072,176169,204477,221908,147776,127732,439817,207263,167358,105330,147703,157447,240790,171456,188058,207281,219259,230913,23091302,239512,174473,160667,367459,136233,380377,160010,178624,142461,173115,154101,171483,207306,160038,147767,171492,230995,204468,120184,163578,409032,136215,200086,158884,194161,152099,171571,204501,120254,227304,219277,140696,204617,204635,204796,204857,204820,204802,204848,204839,204866,237640,204909,433068,207403,207324,207458,207351,207388,207315,207564,207397,232982,171599,147828,236188,194222,207582,194240,135735,136303,138372,138488,209490,209506,209542,440828,127778,204936,107512,247940,177472,194310,414595,236230,209612,136330,136358,147916,136400,136109,156426,194392,221643,236258,214777,214801,214689,214698,214591,214704,214731,214616,212018,214740,214759,214607,214786,214713,214768,214670,214795,214625,214810,214652,214634,214643,214829,366252,136473,121150,181534,199306,140818,235237,127820,489812,167455,174570,137087,155681,121257,194499,183080,121309,215442,136516,121345,209807,130183,237701,227526,194578,430582,218539,186131,148016,217402,127884,243780,24378001,24378006,24378002,24378007,24378009,24378004,24378008,24378003,24378010,151102,490805,199412,148131,130226,136659,233277,174604,186201,233301,233295,13830902,
list4
127909,209922,167598,127918,194824,236382,217420,217493,221351,227757,186283,136765,175236,121886,239628,436304,183114,173063,137713,183211,221397,233426,215655,194958,174738,195003,170967,195049,148405,179043,195058,180595,217518,207661,136950,207670,152318,215691,184782,195128,176318,186380,186371,186399,130253,172051,154235,183239,199582,227845,19570201,215743,174792,160409,161518,215770,137032,179159,236452,152390,123554,174817,231059,239716,186432,215798,148627,199607,167729,237783,163851,180647,230746,217536,227881,102049,122339,122375,122384,122409,122597,122755,188100,121619,122931,137096,188137,122977,399212,195304,140960,195322,143048,172200,228042,123165,236513,236577,236595,137209,186584,215947,123299,199643,205443,233541,237792,137245,216010,140988,195474,172264,461759,167783,154350,205470,219374,200466,236638,195526,123509,216038,167835,102076,230597,123563,157711,123572,481094,107974,218733,173911,219347,219356,366003,137315,482699,434061,236504,409315,156338,181640,157739,179557,428170,148937,160612,207847,137564,221661,107983,130493,149222,149231,228246,206862,183026,210146,251260,160621,160630,160649,440916,230603,233611,217776,179326,175078,221485,123800,155900,143215,207865,228343,160579,157757,236692,236708,172334,102234,167899,195164,175005,174783,174756,195173,195720,195809,137281,183248,195562,195544,195191,195216,179265,179308,163912,228149,174844,175041,137078,195243,137476,243744,135391,179539,228431,179548,155937,231095,137546,186867,164173,186876,366340,167996,196097,44903808,366395,168005,228501,195988,157793,137120,487311,196060,196006,196158,196079,196121,189547,196130,196015,196033,196200,196103,196228,190442,196149,196024,196255,196264,196167,196291,196051,196176,196237,196185,196194,196246,196112,196219,196088,197294,216278,216287,196389,233718,196413,236753,137759,228529,152530,488800,216339,219596,219921,221591,221430,219994,220127,220251,220279,220321,220394,221616,221625,220640,220756,221607,220853,221050,221102,248925,221236,221582,221281,221333,221388,221494,221634,221838,221847,206011,228699,226152,228723,483036,224554,224147,228705,459949,224545,228875,228884,228981,229063,228459,229115,229337,492689,229160,229179,217864,187134,195234,174899,133960,197285,206589,190576,454184,193654,157748,202763,221519,216357,161563,187046,216366,183275,157809,206048,196565,196592,164076,157818,135522,221892,218885,152567,128258,130590,137962,229267,131876,196653,102368,10236803,10236802,10236801,182500,178615,168148,160755,130606,221953,102377,229355,196699,157863,196866,221971,128328,130624,197027,197036,164155,369400,200800,100751,100663,100706,102553,102614,102632,104179,106397,108092,106245,106485,106412,10772501,107743,107585,106263,107664,161873,128744,110635,110644,110398,110653,110662,445188,110671,110680,110699,110705,110714,
list5
106704,132903,176965,206941,237312,144050,201885,126614,126580,126562,129020,224323,202480,130943,127060,169716,153278,150534,134130,457402,139959,240754,129525,141565,141574,141839,141981,160065,225511,225414,225432,225502,142285,145600,148654,145637,151263,153658,155317,157085,117140,160658,159993,157289,232609,161253,161217,161235,161244,161341,161226,200217,226471,232681,163338,163259,163268,163286,166629,166638,167987,166513,166708,220862,135726,170976,171137,171146,174075,174233,174251,456959,174066,176017,17601701,178396,178402,178420,180489,180692,101709,199069,204185,181215,181394,181428,181464,182281,182290,161457,183044,129941,187985,159939,101879,199111,199120,199139,199148,199281,199184,199218,200280,136172,482680,227216,484905,228909,127741,154095,174491,152080,207500,209551,215062,157535,215293,215266,215275,215284,209825,243106,243115,243133,243142,243151,243179,243212,243188,243221,243203,236328,121691,217484,233374,195030,130314,155812,122436,122612,207722,215929,219383,102094,218663,218645,218654,218742,219471,137351,451671,448840,123961,151306,161554,176372,174914,227863,137847,221740,221768,487010,221759,228769,228778,228787,228796,229027,228802,229300,228644,485537,416801,228653,229018,227368,228635,156541,131399,225627,107558,120883,215132,243665,206084,207971,230764,216542,231174,234076,233897,236948,377555,377564,101587,138354,141334,240268,240277,240329,240444,240453,240365,240374,240462,240471,240480,240417,240426,240189,240727,154493,440004,196307,216524,206349,230728,230737,197045,141264,138187,200572,152600,221999,197133,188340,175157,455992,231147,231165,197142,216597,152637,234030,233903,234085,234155,233921,234164,234173,240107,222053,152673,197197,199847,199856,236887,206437,222062,138275,199865,154527,156082,216667,234207,164216,236939,179867,172617,229780,181783,172644,216694,197221,138293,230782,179894,190424,168218,197230,236975,168227,131098,141325,130697,216764,157483,237932,229814,237880,237899,238032,237686,237950,237969,200004,128391,130776,149772,157951,172699,182564,168254,188304,210429,237011,240693,168263,179946,216807,230807,125727,237039,149781,168281,238078,183105,237057,125763,237066,156125,216852,216931,210401,231624,179955,187444,199272,154590,138479,179964,168342,200341,206507,131113,217013,199962,175272,199999,218964,240338,138497,206525,218973,168421,168430,197531,206604,206613,206622,160904,237109,130794,197708,217059,141361,206695,

#### Loading in college admissions statistics dataframes

In [8]:
# could only pull 20 features at a time so had to pull twice

admissions = pd.read_csv('./datasets/admissions1.csv', index_col = 'UnitID')
print(admissions.shape)

admissions_2 = pd.read_csv('./datasets/admissions2.csv', index_col = 'UnitID')
print(admissions_2.shape)

(6527, 24)
(6527, 33)

#### Merging in first admissions statistics to base dataframe and dropping unnecessary columns

In [9]:
data = data.merge(admissions, left_on = data['ipeds_id'].astype(int), right_on = admissions.index, how = 'left')
data.head()

,key_0,state,ipeds_id,college,cases,ids,Institution Name,Institution (entity) name (HD2019),Institution name alias (HD2019),Fips County code (HD2019),...,Imputation/Status Flag For Applicants total (ADM2019),Admissions total (ADM2019),Imputation/Status Flag For Admissions total (ADM2019),Enrolled total (ADM2019),Imputation/Status Flag For Enrolled total (ADM2019),Admissions men (ADM2019),Imputation/Status Flag For Admissions men (ADM2019),Admissions women (ADM2019),Imputation/Status Flag For Admissions women (ADM2019),Unnamed: 24
0,222178,Texas,222178.0,Abilene Christian University,553.0,222178,Abilene Christian University,Abilene Christian University,,48441.0,...,R,6996.0,R,932.0,R,2558.0,R,4438.0,R,NaN
1,138558,Georgia,138558.0,Abraham Baldwin Agricultural College,165.0,138558,Abraham Baldwin Agricultural College,Abraham Baldwin Agricultural College,ABAC,13277.0,...,R,1475.0,R,919.0,R,653.0,R,822.0,R,NaN
2,108232,California,108232.0,Academy of Art University,NaN,108232,Academy of Art University,Academy of Art University,,6075.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,126182,Colorado,126182.0,Adams State University,108.0,126182,Adams State University,Adams State University,,8003.0,...,R,1749.0,R,399.0,R,711.0,R,1038.0,R,NaN
4,188429,New York,188429.0,Adelphi University,60.0,188429,Adelphi University,Adelphi University,,36059.0,...,R,10342.0,R,1132.0,R,3244.0,R,7098.0,R,NaN

#### Dropping columns unnecessary for analysis after merge

In [10]:
columns_to_drop = [
                    'key_0',
                    'Institution Name',
                    'Institution (entity) name (HD2019)',
                    'Institution name alias (HD2019)',
                    'Fips County code (HD2019)',
                    'State abbreviation (HD2019)',
                    'FIPS state code (HD2019)',
                    'Degree-granting status (HD2019)',
                    'Undergraduate level programs or courses are offered via distance education (IC2019)',
                    'Graduate level programs or courses are offered via distance education (IC2019)',
                    'Does not offer distance education opportunities (IC2019)',
                    'Distance education programs offered (IC2019)',
                    'Applicants total (ADM2019)',
                    'Imputation/Status Flag For Applicants total (ADM2019)',
                    'Imputation/Status Flag For Admissions total (ADM2019)',
                    'Imputation/Status Flag For Enrolled total (ADM2019)',
                    'Imputation/Status Flag For Admissions men (ADM2019)',
                    'Imputation/Status Flag For Admissions women (ADM2019)',
                    'Unnamed: 24'
                  ]

# 'Institution size category (HD2019)', 'Distance education courses offered (IC2019)'

In [11]:
data.drop(columns = columns_to_drop, inplace = True)

#### Merging in second admissions statistics to base dataframe and dropping unnecessary columns

In [12]:
data = data.merge(admissions_2, left_on = data['ipeds_id'], right_on = admissions_2.index, how = 'left')
data.head()

,key_0,state,ipeds_id,college,cases,ids,Institution size category (HD2019),Distance education courses offered (IC2019),Admissions total (ADM2019),Enrolled total (ADM2019),...,Imputation/Status Flag For ACT Composite 75th percentile score (ADM2019),ACT English 25th percentile score (ADM2019),Imputation/Status Flag For ACT English 25th percentile score (ADM2019),ACT English 75th percentile score (ADM2019),Imputation/Status Flag For ACT English 75th percentile score (ADM2019),ACT Math 25th percentile score (ADM2019),Imputation/Status Flag For ACT Math 25th percentile score (ADM2019),ACT Math 75th percentile score (ADM2019),Imputation/Status Flag For ACT Math 75th percentile score (ADM2019),Unnamed: 33
0,222178.0,Texas,222178.0,Abilene Christian University,553.0,222178,3.0,1.0,6996.0,932.0,...,R,19.0,R,28.0,R,18.0,R,26.0,R,NaN
1,138558.0,Georgia,138558.0,Abraham Baldwin Agricultural College,165.0,138558,2.0,1.0,1475.0,919.0,...,R,15.0,R,22.0,R,16.0,R,21.0,R,NaN
2,108232.0,California,108232.0,Academy of Art University,NaN,108232,3.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,126182.0,Colorado,126182.0,Adams State University,108.0,126182,2.0,1.0,1749.0,399.0,...,R,15.0,R,21.0,R,16.0,R,22.0,R,NaN
4,188429.0,New York,188429.0,Adelphi University,60.0,188429,3.0,1.0,10342.0,1132.0,...,R,22.0,R,29.0,R,19.0,R,26.0,R,NaN

#### Dropping columns unnecessary for analysis after merge

In [13]:
columns_to_drop2 = [
                    'key_0',
                    'Institution Name',
                    'Institution (entity) name (HD2019)',
                    'Institution name alias (HD2019)',
                    'Fips County code (HD2019)',
                    'Imputation/Status Flag For Number of first-time degree/certificate-seeking students submitting SAT scores (ADM2019)',
                    'Percent of first-time degree/certificate-seeking students submitting SAT scores (ADM2019)',
                    'Imputation/Status Flag For Percent of first-time degree/certificate-seeking students submitting SAT scores (ADM2019)',
                    'Imputation/Status Flag For Number of first-time degree/certificate-seeking students submitting ACT scores (ADM2019)',
                    'Percent of first-time degree/certificate-seeking students submitting ACT scores (ADM2019)',
                    'Imputation/Status Flag For Percent of first-time degree/certificate-seeking students submitting ACT scores (ADM2019)',
                    'Imputation/Status Flag For SAT Evidence-Based Reading and Writing 25th percentile score (ADM2019)',
                    'Imputation/Status Flag For SAT Evidence-Based Reading and Writing 75th percentile score (ADM2019)',
                    'Imputation/Status Flag For SAT Math 25th percentile score (ADM2019)',
                    'Imputation/Status Flag For SAT Math 75th percentile score (ADM2019)',
                    'Imputation/Status Flag For ACT Composite 25th percentile score (ADM2019)',
                    'Imputation/Status Flag For ACT Composite 75th percentile score (ADM2019)',
                    'Imputation/Status Flag For ACT English 25th percentile score (ADM2019)',
                    'Imputation/Status Flag For ACT English 75th percentile score (ADM2019)',
                    'Imputation/Status Flag For ACT Math 25th percentile score (ADM2019)',
                    'Imputation/Status Flag For ACT Math 75th percentile score (ADM2019)', 'Unnamed: 33'
                   ]

In [14]:
data.drop(columns = columns_to_drop2, inplace = True)

In [15]:
data.shape

(1947, 23)

#### Loading in dataframe with college football conference information. Like the admissions statistics, used the 'ipeds_id' to search for this on https://nces.ed.gov/ipeds/use-the-data

In [16]:
sports = pd.read_csv('./datasets/sports.csv')
sports.head()

,UnitID,Institution Name,NCAA/NAIA member for football (IC2019),NCAA/NAIA conference number football (IC2019)
0,222178,Abilene Christian University,Yes,Southland Conference
1,138558,Abraham Baldwin Agricultural College,No,Not applicable
2,108232,Academy of Art University,No,Not applicable
3,126182,Adams State University,Yes,Rocky Mountain Athletic Conference
4,188429,Adelphi University,No,Not applicable

In [17]:
sports.drop(columns = ['NCAA/NAIA member for football (IC2019)', 'Institution Name'], axis = 1, inplace = True)

#### Merging in college football information to base dataframe

In [18]:
sports['UnitID'].astype(int)
data = data.merge(sports, left_on = data['ipeds_id'].astype(int), right_on = sports['UnitID'].astype(int), how = 'left')

In [19]:
data.shape

(1947, 26)

#### Loading in regions dataframe

In [20]:
regions = pd.read_csv('datasets/regions.csv')
regions.head()

        State State Code Region            Division
0      Alaska         AK   West             Pacific
1     Alabama         AL  South  East South Central
2    Arkansas         AR  South  West South Central
3     Arizona         AZ   West            Mountain
4  California         CA   West             Pacific

In [21]:
regions.shape

(51, 4)

#### Dropping columns unnecessary for analysis

In [22]:
regions.drop(columns = ['State Code', 'Division'], inplace = True)

#### Creating dictionary of states with there corresponding regions and mapping dictionary with 'state' to create 'region' column

In [23]:
#replace District of Columbia with Washington D.C to match up with combined dataframe
regions['State'].replace('District of Columbia', 'Washington, D.C.', inplace=True)

#create a dictionary with region values and corresponding states to use to map region to dataframe.
region_dict = pd.Series(data = regions.Region.values, index= regions.State).to_dict()

data['region'] = data['state'].map(region_dict)

#### Loading in state covid policies/mandates dataframe

In [24]:
sp = pd.read_csv('datasets/state_policies.csv')

#### Creating function to streamline this process for other data dumps from KFF (all same format)

In [25]:
def clean_social_distance(df):
    df['Unnamed: 0'].replace('District of Columbia', 'Washington, D.C.', inplace = True)
    df.rename(columns = {'Unnamed: 0': 'state'}, inplace = True)
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    df.drop([0, 1], axis = 0, inplace = True)
    df.reset_index(drop = True)
    df.sort_values('state')
    
    return df

clean_social_distance(sp)
sp.head()

,state,status_of_reopening,stay_at_home_order,mandatory_quarantine_for_travelers,non-essential_business_closures,large_gatherings_ban,restaurant_limits,bar_closures,face_covering_requirement,primary_election_postponement,emergency_declaration
2,Alabama,Paused,Lifted,-,All Non-Essential Businesses Permitted to Reop...,Lifted,Reopened to Dine-in Service,Reopened,Required for General Public,-,Yes
3,Alaska,Proceeding with Reopening,Lifted,All Travelers,All Non-Essential Businesses Permitted to Reopen,Lifted,Reopened to Dine-in Service,Reopened,Required for Certain Employees,-,Yes
4,Arizona,New Restrictions Imposed,Lifted,Lifted,New Business Closures or Limits,New Limit on Large Gatherings in Place,New Service Limits,Newly Closed,Required for Certain Employees;\nAllows Local ...,-,Yes
5,Arkansas,Paused,-,Lifted,-,Lifted,Reopened to Dine-in Service with Capacity Limits,Reopened,Required for General Public,-,Yes
6,California,New Restrictions Imposed,Statewide,-,New Business Closures or Limits,All Gatherings Prohibited,Newly Closed to Dine-in Service,Newly Closed,Required for General Public,-,Yes

#### Dropping columns unnecessary for analysis

In [26]:
columns_to_drop3 = [
                    'mandatory_quarantine_for_travelers',
                    'non-essential_business_closures',
                    'primary_election_postponement',
                    'emergency_declaration'
                   ]

# 'status_of_reopening'

In [27]:
sp.drop(columns = columns_to_drop3, inplace = True)

#### Merging in state policies to base dataframe

In [28]:
data = data.merge(sp, left_on = ['state'], right_on = ['state'], how = 'right')

In [29]:
data.shape

(1929, 33)

#### Loading in-person classes plan dataframe

In [30]:
cp = pd.read_csv('./datasets/class_plan.csv')

In [31]:
cp.head()

                                college           class_plan  total_enrollment
0          Abilene Christian University  Primarily in person              5204
1  Abraham Baldwin Agricultural College     Primarily online              4291
2                Adams State University               Hybrid              3110
3                    Adelphi University     Primarily online              8146
4                        Adrian College  Primarily in person              1856

In [32]:
data['college2'] = data['college'].str.lower()
cp['college2'] = cp['college'].str.lower()
cp['college2'] = cp['college2'].astype(str)

#### Creating function to XXXX

In [33]:
def remove_space(column):
    
    college_list = []
    
    for college in column:
        
        cl = college.split()
        
        if 'at' in cl:
            cl.remove('at')
        if 'in' in cl:
            cl.remove('in')    
        if 'the' in cl:
            cl.remove('the')
        
        new_college = "".join(cl)
        new_college = "".join(new_college.split(','))
        new_college = "".join(new_college.split('.'))
        new_college = "".join(new_college.split('-'))
        new_college = "".join(new_college.split('/'))
        new_college = "".join(new_college.split("'"))
    
        college_list.append(new_college)
    
    return college_list

In [34]:
data['college2'] = remove_space(data['college2'])
cp['college2'] = remove_space(cp['college2'])

In [35]:
data = data.merge(cp, on = 'college2', how = 'inner')

In [36]:
data.columns

Index(['key_0', 'state', 'ipeds_id', 'college_x', 'cases', 'ids',
       'Institution size category (HD2019)',
       'Distance education courses offered (IC2019)',
       'Admissions total (ADM2019)', 'Enrolled total (ADM2019)',
       'Admissions men (ADM2019)', 'Admissions women (ADM2019)',
       'Number of first-time degree/certificate-seeking students submitting SAT scores (ADM2019)',
       'Number of first-time degree/certificate-seeking students submitting ACT scores (ADM2019)',
       'SAT Evidence-Based Reading and Writing 25th percentile score (ADM2019)',
       'SAT Evidence-Based Reading and Writing 75th percentile score (ADM2019)',
       'SAT Math 25th percentile score (ADM2019)',
       'SAT Math 75th percentile score (ADM2019)',
       'ACT Composite 25th percentile score (ADM2019)',
       'ACT Composite 75th percentile score (ADM2019)',
       'ACT English 25th percentile score (ADM2019)',
       'ACT English 75th percentile score (ADM2019)',
       'ACT Math 25th percentile score (ADM2019)',
       'ACT Math 75th percentile score (ADM2019)', 'UnitID',
       'NCAA/NAIA conference number football (IC2019)', 'region',
       'status_of_reopening', 'stay_at_home_order', 'large_gatherings_ban',
       'restaurant_limits', 'bar_closures', 'face_covering_requirement',
       'college2', 'college_y', 'class_plan', 'total_enrollment'],
      dtype='object')

In [37]:
data.drop(columns = ['key_0', 'college2', 'college_y', 'UnitID'], inplace = True)

In [38]:
data.shape

(1382, 33)

## Data Cleaning

In [39]:
data.isnull().sum()

state                                                                                         0
ipeds_id                                                                                      0
college_x                                                                                     0
cases                                                                                        37
ids                                                                                           0
Institution size category (HD2019)                                                            0
Distance education courses offered (IC2019)                                                   0
Admissions total (ADM2019)                                                                  195
Enrolled total (ADM2019)                                                                    195
Admissions men (ADM2019)                                                                    213
Admissions women (ADM2019)                                                                  197
Number of first-time degree/certificate-seeking students submitting SAT scores (ADM2019)    358
Number of first-time degree/certificate-seeking students submitting ACT scores (ADM2019)    358
SAT Evidence-Based Reading and Writing 25th percentile score (ADM2019)                      396
SAT Evidence-Based Reading and Writing 75th percentile score (ADM2019)                      396
SAT Math 25th percentile score (ADM2019)                                                    396
SAT Math 75th percentile score (ADM2019)                                                    396
ACT Composite 25th percentile score (ADM2019)                                               365
ACT Composite 75th percentile score (ADM2019)                                               365
ACT English 25th percentile score (ADM2019)                                                 436
ACT English 75th percentile score (ADM2019)                                                 436
ACT Math 25th percentile score (ADM2019)                                                    436
ACT Math 75th percentile score (ADM2019)                                                    436
NCAA/NAIA conference number football (IC2019)                                                 0
region                                                                                        0
status_of_reopening                                                                           0
stay_at_home_order                                                                            0
large_gatherings_ban                                                                          0
restaurant_limits                                                                             0
bar_closures                                                                                  0
face_covering_requirement                                                                     0
class_plan                                                                                    0
total_enrollment                                                                              0
dtype: int64

#### Dropping all rows with null values

In [40]:
data.dropna(inplace = True)

In [41]:
data.shape

(877, 33)

#### Renaming columns

In [42]:
column_names_dict = {
                    'college_x': 'college',
                    'Institution size category (HD2019)' : 'college_size_category',
                    'Distance education courses offered (IC2019)' : 'distance_educ_offered',
                    'Admissions total (ADM2019)' : 'admissions_total', 
                    'Enrolled total (ADM2019)' : 'freshmen_enrollment',
                    'Admissions men (ADM2019)' : 'admissions_men', 
                    'Admissions women (ADM2019)' : 'admissions_women',
                    'Number of first-time degree/certificate-seeking students submitting SAT scores (ADM2019)' : 'number_freshmen_submitting_sat',
                    'Number of first-time degree/certificate-seeking students submitting ACT scores (ADM2019)' : 'number_freshmen_submitting_act',
                    'SAT Evidence-Based Reading and Writing 25th percentile score (ADM2019)' : 'sat_ebrw_25',
                    'SAT Evidence-Based Reading and Writing 75th percentile score (ADM2019)' : 'sat_ebrw_75',
                    'SAT Math 25th percentile score (ADM2019)' : 'sat_math_25',
                    'SAT Math 75th percentile score (ADM2019)' : 'sat_math_75',
                    'ACT Composite 25th percentile score (ADM2019)' : 'act_comp_25',
                    'ACT Composite 75th percentile score (ADM2019)' : 'act_comp_75',
                    'ACT English 25th percentile score (ADM2019)' : 'act_english_25',
                    'ACT English 75th percentile score (ADM2019)' : 'act_english_75',
                    'ACT Math 25th percentile score (ADM2019)' : 'act_math_25',
                    'ACT Math 75th percentile score (ADM2019)' : 'act_math_75',
                    'NCAA/NAIA conference number football (IC2019)': 'football_conference',
                    'status_of_reopening' : 'status_reopening',
                    'large_gatherings_ban' : 'large_gatherings',
                    'face_covering_requirement' : 'face_coverings'
                    }

In [43]:
data.rename(columns = column_names_dict, inplace = True)

In [44]:
data.head()

,state,ipeds_id,college,cases,ids,college_size_category,distance_educ_offered,admissions_total,freshmen_enrollment,admissions_men,...,football_conference,region,status_reopening,stay_at_home_order,large_gatherings,restaurant_limits,bar_closures,face_coverings,class_plan,total_enrollment
0,Alabama,100654.0,Alabama A&M University,41.0,100654,3.0,1.0,8789.0,1710.0,2828.0,...,Southwestern Athletic Conference,South,Paused,Lifted,Lifted,Reopened to Dine-in Service,Reopened,Required for General Public,Hybrid,6106
1,Alabama,100724.0,Alabama State University,2.0,100724,2.0,1.0,6467.0,1023.0,1963.0,...,Southwestern Athletic Conference,South,Paused,Lifted,Lifted,Reopened to Dine-in Service,Reopened,Required for General Public,Hybrid,4413
2,Alabama,100858.0,Auburn University,2134.0,100858,5.0,1.0,16300.0,4808.0,6997.0,...,Southeastern Conference,South,Paused,Lifted,Lifted,Reopened to Dine-in Service,Reopened,Required for General Public,Hybrid,30440
3,Alabama,100830.0,Auburn University at Montgomery,140.0,100830,3.0,1.0,3716.0,626.0,1306.0,...,Not applicable,South,Paused,Lifted,Lifted,Reopened to Dine-in Service,Reopened,Required for General Public,Hybrid,5211
4,Alabama,100937.0,Birmingham-Southern College,214.0,100937,2.0,1.0,1821.0,332.0,842.0,...,Southern Athletic Association,South,Paused,Lifted,Lifted,Reopened to Dine-in Service,Reopened,Required for General Public,Primarily in person,1268

#### XXX

In [45]:
data['status_reopening'].value_counts()

New Restrictions Imposed     426
Proceeding with Reopening    236
Paused                       125
Reopened                      90
Name: status_reopening, dtype: int64

In [46]:
data['status_reopening'].replace('Proceeding with Reopening', 'Reopened', inplace = True)

#### XXX

In [47]:
data['large_gatherings'].value_counts()

New Limit on Large Gatherings in Place    253
Expanded to New Limit Above 25            239
Lifted                                    169
Expanded to New Limit of 25 or Fewer       80
>10 People Prohibited                      76
All Gatherings Prohibited                  54
-                                           6
Name: large_gatherings, dtype: int64

In [48]:
data['large_gatherings'].replace('>10 People Prohibited', '>25_prohibited', inplace = True)
data['large_gatherings'].replace('Expanded to New Limit of 25 or Fewer', '>25_prohibited', inplace = True)

#### XXX

In [49]:
data['restaurant_limits'].value_counts()

Reopened to Dine-in Service with Capacity Limits    404
New Service Limits                                  195
Reopened to Dine-in Service                         175
Newly Closed to Dine-in Service                      54
Reopened to Dine-in Service                          40
-                                                     9
Name: restaurant_limits, dtype: int64

In [50]:
data['restaurant_limits'].replace('Reopened to Dine-in Service ', 'Reopened to Dine-in Service', inplace = True)

#### XXX

In [51]:
data['bar_closures'].value_counts()

Reopened              362
Newly Closed          258
Closed                146
New Service Limits    111
Name: bar_closures, dtype: int64

In [52]:
data['bar_closures'].replace('Newly Closed', 'Closed', inplace = True)

#### XXX

In [53]:
data['face_coverings'].value_counts()

Required for General Public                                                              687
Required for Certain Employees                                                            80
Allows Local Officals to Require for General Public                                       58
-                                                                                         44
-                                                                                          6
Required for Certain Employees;\nAllows Local Officials to Require for General Public      2
Name: face_coverings, dtype: int64

In [54]:
data['face_coverings'].replace('- ', '-', inplace = True)
data['face_coverings'].replace('Required for Certain Employees;\nAllows Local Officials to Require for General Public', 'Required for Certain Employees', inplace = True)

#### XXX

In [55]:
data['class_plan'].value_counts()

Primarily in person    272
Primarily online       261
Hybrid                 238
Fully online            65
Fully in person         29
Other                    7
Undetermined             5
Name: class_plan, dtype: int64

In [56]:
data['class_plan'].replace('Undetermined', 'Other', inplace = True)

#### Creating target variable --> Colleges with greater than 5% infection rate

In [57]:
data['percent_infected'] = (data['cases'] / data['total_enrollment'])

In [58]:
data['greater_than_5'] = ((data['cases'] / data['total_enrollment']) > 0.05).astype(int)

In [59]:
data.head()

,state,ipeds_id,college,cases,ids,college_size_category,distance_educ_offered,admissions_total,freshmen_enrollment,admissions_men,...,status_reopening,stay_at_home_order,large_gatherings,restaurant_limits,bar_closures,face_coverings,class_plan,total_enrollment,percent_infected,greater_than_5
1363,Wisconsin,239390.0,Mount Mary University,58.0,239390,2.0,1.0,419.0,126.0,0.0,...,Reopened,Lifted,Lifted,Reopened to Dine-in Service,Reopened,Required for General Public,Primarily online,1339,0.043316,0
1369,Wisconsin,240444.0,University of Wisconsin-Madison,5182.0,240444,5.0,1.0,23886.0,7550.0,11118.0,...,Reopened,Lifted,Lifted,Reopened to Dine-in Service,Reopened,Required for General Public,Primarily online,43463,0.119228,1
1379,Wisconsin,240107.0,Viterbo University,311.0,240107,2.0,1.0,974.0,283.0,237.0,...,Reopened,Lifted,Lifted,Reopened to Dine-in Service,Reopened,Required for General Public,Primarily in person,2598,0.119707,1
1380,Wisconsin,240338.0,Wisconsin Lutheran College,120.0,240338,2.0,1.0,670.0,213.0,316.0,...,Reopened,Lifted,Lifted,Reopened to Dine-in Service,Reopened,Required for General Public,Hybrid,1248,0.096154,1
1381,Wyoming,240727.0,University of Wyoming,1795.0,240727,4.0,1.0,5132.0,1760.0,2569.0,...,Reopened,-,Expanded to New Limit Above 25,Reopened to Dine-in Service,Reopened,Required for Certain Employees,Primarily in person,12450,0.144177,1

#### Final drop of unecessary columns and saving combined dataframe

In [63]:
data.drop(columns = ['ipeds_id', 'ids'], inplace = True)

In [64]:
data.to_csv('./datasets/combined_df2.csv', index = False)